<div 
  id="shorterms-info-modal" 
  style="
    font-family: Arial, Helvetica, sans-serif;
    position: absolute; 
    top: 2dvh; 
    right: 1.5dvw; 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    padding-left: 1rem;
    padding-right: 1rem; 
    border-radius: 1rem; 
    width: 25dvw; 
    background-color: white; 
    border: 1px solid gray;
    z-index: 2147483647;
    color: black;
  "
  >
  <p 
    style="
      font-size: 0.875rem;
      line-height: 1rem; 
      font-weight: 600; 
    "
  >
    Detected a Terms of Service on this page!
  </p>
  <p 
    style="
      font-size: 0.775rem;
      line-height: 1rem; 
    "
  >
    Open the Shorterms Extension or click

    <span id="shorterms-info-modal-command">
      Cmd/Ctrl + Shift + S
    </span>
  </p>
</div>