<div 
  id="shorterms-info-modal" 
  style="
    position: absolute; 
    top: 2dvh; 
    right: 1.5dvw; 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    padding-left: 1rem;
    padding-right: 1rem; 
    border-radius: 1rem; 
    width: 25dvw; 
    background-color: white; 
    border: 1px solid black;
    opacity: 0.9; 
    z-index: 999;
    overflow-x: scroll;
    overflow-y: scroll;
  "
  >
  <p 
    style="
      font-size: 0.875rem;
      line-height: 1rem; 
      font-weight: 600; 
    "
  >
    Detected Terms of Service in this page...
  </p>
  <p 
    style="
      font-size: 0.875rem;
      line-height: 1rem; 
    "
  >
    Open the Shorterms Extension or click

    <span id="shorterms-info-modal-command">
      
    </span>
  </p>
</div>